.stats-slide {
  width: 600px;
  height: fit-content;
}

.stats-header {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.stats-table {
  margin-left: 25px;
  height: 300px;
  border-collapse: collapse;
  font-size: 16px;
}

.stats-table-env {
  margin-left: 25px;
  height: 300px;
  border-collapse: collapse;
  font-size: 16px;
  background-color: lightgreen;
}

.stats-table-revenue {
  margin-left: 25px;
  height: 300px;
  border-collapse: collapse;
  font-size: 16px;
  background-color: lightsalmon;
}

.stats-table-flood {
  margin-left: 25px;
  height: 300px;
  border-collapse: collapse;
  font-size: 16px;
  background-color: lightskyblue;
}

.stats-table-head {
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  padding: 2px; 
  transition: background-color 0.3s ease; 
}

.stats-table-body {
  border: 1px solid lightslategrey;
}

.stats-table-row-header {
  padding: 8px; 
}

.stats-table-row {
  padding: 2px; 
  text-align: center;
  border: 1px solid lightgray;
  transition: background-color 0.3s ease; 
}

.stats-table-data {
  padding: 2px; 
  font: inherit;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border: 1px solid lightslategray;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.stats-table-row:hover {
  background-color: lightgray; 
}

/* .slick-next:before{
  color: black;
  font-size: 20px;
  
}

.slick-prev:before{
  color: black;
  font-size: 20px;
} */