.MarketView {
  padding: 20px;
}

.Market-header-container {
  background-color: #247BA0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Market-header {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: white;
  text-align: left;
}

.Market-header-Date{
  position: absolute;
  top: 12%;
  right: 5%;
  font-size: 20px;
  color: white;
}

.Warning-Form-input {
  font-size: 16px;
  width: 25%;
  padding: 10px;
  border: 3px outset lightcoral;
  border-radius: 10px;
  transition: border-color 0.4s ease;
  margin: 5px;
  text-align: center;
}

.Warning-Form-input:focus {
  border-color: red;
  outline: none;
}

.Warning-Form-input::placeholder{
  text-align: center;
}

.Warning-Form-btn{
  background-color: rgb(255, 0, 0);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;  
}

.Warning-Form-btn:hover {
  background-color: rgb(135, 2, 2);
}

.Crop-Add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  background-color: transparent;
  border-radius: 10px;
}

.Crop-Add-header {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.Crop-Add-input {
  font-size: 18px;
  width: 25%;
  padding: 10px;
  border: 3px outset lightseagreen;
  border-radius: 10px;
  transition: border-color 0.4s ease-in-out;
  margin: 5px;
  text-align: center;
}

.Crop-Add-input:focus {
  border-color: #007bff;
  outline: none;
}

.Crop-Add-input::placeholder{
  text-align: center;
}

.Crop-Add-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.Crop-Add-btn:hover {
  background-color: #218838;
}

.Crops-info-header {
  font: inherit;
  font-weight: bold;
  font-size: 20px;
}