/* landform.css */

.LandForm {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    margin: 25px 0px 0px 500px;
    padding: 10px;
    border: 3px groove #ccc;
    border-radius: 20px;
  }
  
  .landform-img{
    margin: auto;
    height: 50px;
    width: 50px;
  }
  
  .landform-header{
    font-size: 18px;
    text-align: center;
    margin: 10px 0px 25px 0px;
  }
  
  .landform-label{
    width: 350px;
    margin-left: 25px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .landform-group {
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 10px;
    width: 500px;
  }
  
  .landform-control{
    border: 2px outset #70C1B3;
    font-size: 16px;
    width: 500px;
    height: 25px;
    outline: none;
    margin-left: 10px;
    margin-right: 50px;
    border-radius: 20px;
    text-align: center;
  }
  
  .landform-control::placeholder{
    text-align: center;
  }
  
  .landform-submit-container {
    margin: auto;
    position: relative;
    display: inline-block; 
  }
  
  .landform-submit-btn {
    color: white;
    position: relative;
    font-weight: 500;
    z-index: 1; 
    height: 50px;
    width: 75px; 
    text-align: center;
    background-color: #70C1B3;
    border: none;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .landform-submit-btn:hover{
    background-color: #60cfbd;
    transform: scale(1.02);
    transition-property: background-color, transform;
    transition: 0.4s ease-in-out;
  }

  
  