.TableView{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.search-container{
  display: inline-flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 15px;
}

.search-bar{
  height: 25px;
  width: 300px;
  outline: none;
  font-size: 16px;
  border: none;
  border-bottom: 2px inset blue;
  text-align: center;
}

.search-bar::placeholder{
  text-align: center;
}

.sort-btn{
  height: 25px;
  width: 75px;
  text-align: center;
  margin: 5px 0px 0px 25px;
  border-radius: 50px;
  border: 3px inset blue;
}

.sort-option{
  background-color: white;
}

.tableview-container {
  width: 95%;
  border-collapse: collapse;
  margin: auto;
}

/* Basic styling for table header */
.tableview-head {
  color: white;
  background-color: #247BA0;
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: center;
  cursor: default;
}

.tableview-row-data {
  color: black;
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: center;
}

.tableview-row{
  background-color: #60cfbd;
  cursor: default;
}

.tableview-row:hover{
  background-color: #eee;
  transform: scale(1.005);
  transition-property: transform, background-color;
  transition: 0.4s ease-in-out;
}

.table-link{
  text-align: center;
  text-decoration: none;
  cursor: default;
}

.table-link:hover{
  color: red;
}

/* Styling for table rows */
.tableview-row:nth-child(even) {
  background-color: #247BA0;
}

/* Styling for table rows when hovered */
.tableview-row:hover {
  background-color: #ddd;
}

/* Styling for the link in the details column */
.tableview-row-data > a {
  text-decoration: none;
  color: black;
  cursor: default;
}

/* Styling for the link in the details column when hovered */
.tableview-row-data > a:hover {
  text-decoration: underline;
}
