/* largespace.css */

/* General styles */
.stats-slide {
  width: 600px;
  height: fit-content;
}

.stats-header {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.stats-table {
  margin-left: 25px;
  height: 300px;
  border-collapse: collapse;
  font-size: 16px;
}

/* Table styles for different sections */
.stats-table-env {
  margin-left: 25px;
  height: 300px;
  border-collapse: collapse;
  font-size: 16px;
  background-color: lightgreen;
}

.stats-table-revenue {
  margin-left: 25px;
  height: 300px;
  border-collapse: collapse;
  font-size: 16px;
  background-color: lightsalmon;
}

.stats-table-flood {
  margin-left: 25px;
  height: 300px;
  border-collapse: collapse;
  font-size: 16px;
  background-color: lightskyblue;
}

/* Table header styles */
.stats-table-head {
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  padding: 2px; /* Increased padding for better visibility */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Table body styles */
.stats-table-body {
  border: 1px solid lightslategrey;
}

.stats-table-row-header {
  padding: 8px; /* Increased padding for better visibility */
}

.stats-table-row {
  padding: 2px; /* Increased padding for better visibility */
  text-align: center;
  border: 1px solid lightgray;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

/* Table data styles */
.stats-table-data {
  padding: 2px; /* Increased padding for better visibility */
  font: inherit;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  border: 1px solid lightslategray;
}

/* Loading animation styles */
.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* Hover effects */

.stats-table-row:hover {
  background-color: lightgray; /* Change background color on hover */
}
