.RecordView {
    margin: 10px;
    padding: 10px;
    border: 3px groove lightslategrey;
    border-radius: 50px;
    background-color: #f9f9f9;
    overflow: hidden;
}

.loading-animation{
    height: fit-content;
}

.record-list-header{
    margin: auto;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 18px;
}

.record-table{
    margin: auto;
    width: 95%;
    border-collapse: collapse;
}

.record-table-head{
    color: white;
    background-color: #247BA0;
    border: 1px solid #dddddd;
    text-align: center;
    cursor: default;
}

.record-table-row{
    background-color: #60cfbd;
    cursor: default;
}

.record-table-row:nth-child(even) {
    background-color: #247BA0;
}

.record-table-row:hover{
    background-color: #ddd;
    transform: scale(1.005);
    transition-property: transform, background-color;
    transition: 0.4s ease-in-out;
}

.record-table-data{
    color: black;
    padding: 4px;
    border: 1px solid #dddddd;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}
