.filter-container{
  margin: 10px auto; 
  text-align: center;
}

.filter-label{
  font-size: 18px;
  font-weight: bold;
}

.filter-control{
  font-size: 16px;
  padding: 5px;
  border: 3px outset lightseagreen;
  border-radius: 10px;
  text-align: center;
}

.popup-container{
  font: inherit;
  margin: auto;
}

.leaflet-container{
  height: 600px;
  width: 1000px;
  border: 3px outset #247BA0;
  border-radius: 8px;
  margin: 10px 0px 0px 300px;
}

.legend-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 20px;
  border: 3px outset #247BA0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 3px;
}

.legend-item-img {
  width: 30px; 
  height: auto; 
  margin-right: 5px;
}

.legend-item-span {
  font-weight: bold;
  font-size: 16px; 
}
